.singleTableContainer {
	display: grid;
	grid-template-columns: 40% 55%;
	grid-template-rows: 100%;
	grid-template-areas: 'bill menu';
	grid-gap: 5%;
}

.bill {
	grid-area: bill;
    display: flex;
	flex-direction: column;
	align-items: center;
}

.menu {
	grid-area: menu;

}
